* {
  box-sizing: border-box;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 30%;
  background: #f8f1f1;
}

form.example button {
  float: left;
  width: 5%;
  padding: 10px;
  background: #d3679d;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0c68b3;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
